<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tracks </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="authenticated" (click)="logout()">Logout</ion-button>
      <ion-button *ngIf="!authenticated" routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="col-md-3" *ngFor="let track of tracks">
    <ion-card>
      <img [src]="track.image" />
      <ion-card-header>
        <ion-card-title>{{track.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content> {{track.description}} </ion-card-content>
    </ion-card>
  </div>
  <ion-button expand="block" position="fixed" href="./tracks-create"
    >Add a track</ion-button
  >
</ion-content>
