<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Events </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="authenticated" (click)="logout()">Logout</ion-button>
      <ion-button *ngIf="!authenticated" routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @for (event of events; track $index) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{event.name}}</ion-card-title>
      <ion-card-subtitle
        >{{event.date.toLocaleString()}} -
        {{event.track!.name}}</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content> {{event.description}} </ion-card-content>
    @for (participation of event.participations; track $index) {
    <p>{{participation.event.name}}</p>
    <p>{{participation.user!["email"]}}</p>
    }

    <ion-button fill="clear" (click)="participate(event)"
      >Participate</ion-button
    >
  </ion-card>
  }

  <ion-fab>
    <ion-fab-button
      style="
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 2rem;
        margin-right: 2rem;
      "
      href="./event-create"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
