<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input
        type="text"
        formControlName="name"
        placeholder="Name"
      ></ion-input>
    </ion-item>
    <ion-note
      color="danger"
      *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
    >
      Name is required (min 3 characters)
    </ion-note>

    <!-- Description -->
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <editor
        apiKey="6tnzdgljt9mjkpnysvunjzvvvs72oir0a9v9ot3vtlrq0u9y"
        formControlName="description"
        name="description"
        [init]="{
          height: 200,
          menubar: false,
          plugins: [
            'advlist autolink lists link charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"
      ></editor>
    </ion-item>

    <!-- Date -->
    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-datetime formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Track</ion-label>
      <ion-select formControlName="track">
        @for (track of tracks; track $index) {
        <ion-select-option [value]="track.id">{{track.name}}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <!-- Submit Button -->
    <ion-button expand="full" type="submit" [disabled]="form.invalid"
      >Save</ion-button
    >
  </form>
</ion-content>
