<ion-header>
  <ion-toolbar>
    <ion-title>Create Setup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="setupForm" (ngSubmit)="submitSetup()">
    <!-- Name Field -->
    <ion-item>
      <ion-label position="floating">Setup Name</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>

    <!-- TinyMCE for Description -->
    <ion-item>
      <ion-label>Description</ion-label>
    </ion-item>
      <editor
        apiKey="6tnzdgljt9mjkpnysvunjzvvvs72oir0a9v9ot3vtlrq0u9y"
        formControlName="description"
        name="description"
        [init]="{
          height: 200,
          menubar: false,
          plugins: [
            'advlist autolink lists link charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"
      ></editor>

    <!-- Weather Condition Radio Buttons -->
    <ion-item>
      <ion-label>Weather Condition</ion-label>
      <ion-radio-group formControlName="weatherCondition">
        <ion-item>
          <ion-label>Dry</ion-label>
          <ion-radio slot="start" value="Dry"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Wet</ion-label>
          <ion-radio slot="start" value="Wet"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Mixed</ion-label>
          <ion-radio slot="start" value="Mixed"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <!-- Submit Button -->
    <ion-button expand="block" type="submit" [disabled]="setupForm.invalid">
      Save Setup
    </ion-button>
  </form>
</ion-content>
