<ion-header>
  <ion-toolbar>
    <ion-title>Create Track</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input
        type="text"
        formControlName="name"
        placeholder="Enter Name"
      ></ion-input>
    </ion-item>
    <ion-note
      color="danger"
      *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
    >
      Name is required (min 3 characters)
    </ion-note>

    <!-- Description -->
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <editor
        apiKey="6tnzdgljt9mjkpnysvunjzvvvs72oir0a9v9ot3vtlrq0u9y"
        formControlName="description"
        name="description"
        [init]="{
          height: 200,
          menubar: false,
          plugins: [
            'advlist autolink lists link charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"
      ></editor>
    </ion-item>

    <!-- Image Upload -->
    <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <ion-input type="file" (change)="onFileChange($event)" accept="image/*" />
    </ion-item>

    <!-- Website -->
    <ion-item>
      <ion-label position="stacked">Website</ion-label>
      <ion-input
        type="url"
        formControlName="website"
        placeholder="Enter Website URL"
      ></ion-input>
    </ion-item>
    <ion-note
      color="danger"
      *ngIf="form.get('website')?.invalid && form.get('website')?.touched"
    >
      Please enter a valid URL
    </ion-note>

    <!-- Submit Button -->
    <ion-button expand="full" type="submit" [disabled]="form.invalid"
      >Submit</ion-button
    >
  </form>
</ion-content>
